

1. What are data structures, and why are they important?
Data structures are specialized formats for organizing, processing, retrieving, and storing data. They help manage and manipulate data efficiently.

2. Explain the difference between mutable and immutable data types with examples.

Mutable: Can be changed (e.g., Lists, Dictionaries).

Immutable: Cannot be changed (e.g., Strings, Tuples, Numbers).

3. What are the main differences between lists and tuples in Python?

Lists: Mutable, slower, unhashable.

Tuples: Immutable, faster, hashable.

4. Describe how dictionaries store data.
They store data in key-value pairs. Keys must be unique and immutable, values can be any data type.

5. Why might you use a set instead of a list in Python?
Sets store unique elements, offer faster lookups, and are good when order doesn’t matter.

6. What is a string in Python, and how is it different from a list?

String: Immutable, sequence of characters.

List: Mutable, can contain different data types.

7. How do tuples ensure data integrity in Python?
By being immutable—once created, they can’t be altered.

8. What is a hash table, and how does it relate to dictionaries in Python?
Hash table maps keys to values using a hash function. Python dictionaries are implemented as hash tables.

9. Can lists contain different data types in Python?
Yes, lists can contain multiple data types.

10. Explain why strings are immutable in Python.
For performance, memory efficiency, thread safety, and to be used as dictionary keys.

11. What advantages do dictionaries offer over lists for certain tasks?
Faster lookups, associative key-value storage, and unique identifiers.

12. Describe a scenario where using a tuple would be preferable over a list.
When you want a fixed collection of values that must not change (e.g., coordinates, config data).

13. How do sets handle duplicate values in Python?
They discard duplicates automatically.

14. How does the “in” keyword work differently for lists and dictionaries?

In lists: checks for value.

In dictionaries: checks for key.

15. Can you modify the elements of a tuple?
No, tuples are immutable. Any change creates a new tuple.

16. What is a nested dictionary, and give an example of its use case?
A dictionary within a dictionary.
Use case: Storing student data with subjects and marks.

17. Describe the time complexity of accessing elements in a dictionary.

Average: O(1)

Worst-case (hash collisions): O(n)

18. In what situations are lists preferred over dictionaries?
When order matters, indexed access is required, and duplicate elements are allowed.

19. Why are dictionaries considered unordered?
Older versions did not preserve insertion order. Keys are stored based on hash values.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

List: Retrieved by index.

Dictionary: Retrieved by key.

In [ ]:
# 1
name = "manish"
print(name)

manish

In [ ]:
#2
print(len("hello world"))

11

In [ ]:
#3
x = "python programming"
print(x[0:3])

pyt

In [ ]:
#4
"hello"
print("hello".upper())

HELLO

In [ ]:
#5
x = "i like apple"
y = x.replace("apple", "banana")
print(y)

i like banana

In [ ]:
#6
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#9
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
#10
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
#11
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
#13
nums = (10, 20, 5, 15)
print(min(nums))

5

In [ ]:
#14
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [ ]:
#15
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [ ]:
#16
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [ ]:
#17
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [ ]:
#20
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [ ]:
#21
person = {"name": "rahul", "age": 25, "city": "Delhi"}
print(person)

{'name': 'rahul', 'age': 25, 'city': 'Delhi'}

In [ ]:
#22
person = {'name': 'rohit', 'age': 25}
person["country"] = "UK"
print(person)

{'name': 'rohit', 'age': 25, 'country': 'UK'}

In [ ]:
#23
data = {'name': 'ankur', 'age': 30}
print(data["name"])

ankur

In [ ]:
#24
person = {'name': 'lala', 'age': 22, 'city': 'jaipur'}
del person["age"]
print(person)

{'name': 'lala', 'city': 'jaipur'}

In [ ]:
#25
person = {'name': 'ankit', 'city': 'agra'}
print("city" in person)

True

In [ ]:
#26
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [ ]:
#27
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[6, 32, 65, 68, 69]

In [ ]:
#28
words = ["one", "two", "three", "four", "five"]
print(words[3])

four

In [ ]:
#29
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30
words = ["apple", "banana", "cherry", "apple"]
unique_words = set(words)
print(unique_words)

{'apple', 'banana', 'cherry'}